:root {
  /* Tons de Cinza */
  --cor-0: #ffffff;
  --cor-1: #f8f8f8;
  --cor-2: #eeeeee;
  --cor-3: #dcdcdc;
  --cor-4: #c9c9c9;
  --cor-5: #a4a4a4;
  --cor-6: #808080;
  --cor-7: #656565;
  --cor-8: #4f4f4f;
  --cor-9: #404040;
  --cor-10: #2d2d2d;
  --cor-11: #1f1f1f;
  --cor-12: #121212;
  --cor-13: #000000;

  /* Tons da cor Primaria */
  --cor-p1: #ffbb00;
  --cor-p2: #e5a40b;
  --cor-p3: #a66f00;
  --cor-p4: #664400;
  --cor-p5: #332200;
}

/* Utilitarios Tons de Cinza */
.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-13 {
  color: var(--cor-13);
}

/* Utilitarios Tons da Cor Primaria */
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
